<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="x-rim-auto-match" content="none">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<!--如果页面中有维度选择下拉框则需引入下面两个链接-->
		<!--<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" href="../../css/mui.poppicker.css" />-->
		<link rel="stylesheet" href="../../css/calendar.css" />
		<link rel="stylesheet" href="../../css/progress.css" />
		<link rel="stylesheet" href="../../css/newCommon.css" />
		<link rel="stylesheet" href="../../css/other/mjYwgl.css" />
		<script src="../../js/common/resetRem.js"></script><!--对根元素设置字体大小-->
	</head>

	<body>
		<!--头部-->
		<header id="header" class="mui-bar mui-bar-nav commonHeader">
			<!--标题-->
			<div class="title" >
				<a class="mui-action-back"></a>
				<h1 class="mui-title">业务概览-美借</h1>
				<!--<a href="#"></a>-->
			</div>
			<!--全局维度和日期选择-->
			<div class="chooseBlock">
				<div class="dateChange">
					<input type="text" class="calendars" id="calendars" placeholder="选择日期" format="yy-mm-dd">
					<span></span>
				</div>
				<div class="wdChange">
					<button id="subItem">整体<span></span></button>
				</div>
			</div>
			<!--二级菜单-->
			<ul class="subList" id="subList">
				<li class="active" data-value="allInfo"><a href="#">整体</a></li>
				<li data-value="selfInfo"><a href="#">自营</a></li>
				<li data-value="outInfo"><a href="#">外部</a></li>
			</ul>
		</header>
		
		<!--遮罩-->
		<div class="mask">
			<div>一&nbsp;&nbsp;<h5>大</h5>&nbsp;批&nbsp;&nbsp;<h4>数据</h4>&nbsp;&nbsp;正在&nbsp;<small>靠近 <b>···</b></small></div>
		</div>
		<!--点击整体进行维度选择时出现遮罩-->
		<div class="mark" id="mark"></div>
		
		<!--内容-->
		<div class="mui-content">
			<!--日概览、月概览选项卡切换-->
			<!--第一块选项卡-->
			<div class="common-tabBlock firstCont">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted tableTitle">
				    <div class="mui-scroll">
				        <a class="mui-control-item mui-active active">
				           	 日概览
				        </a>
				        <a class="mui-control-item">
							月概览
				        </a>
				    </div>
				</div>
				
				<div class="tabBlockDetail dateArea">
					<div class=" dayAmount show" id="topDay">
						<div>
							<h5>交易金额(万元)</h5>
							<h2 class="top-mid" v-cloak>
								<span>{{big}}</span><small>{{small}}</small>
							</h2>
							<div class="top-bot">
								<div class="bot-left">
									上月同比：<b :class="topDayData.basis > 0 ? 'up' : 'down' " v-cloak>{{topDayData.basis}}%</b><em></em>
								</div>
								<div class="bot-rit">
									昨日环比：<b :class="topDayData.relativeRatio > 0 ? 'up' : 'down' " v-cloak>{{topDayData.relativeRatio}}%</b><em></em>
								</div>
							</div>
						</div>
						<div class="dataDetail">
							<div class="horiBlock clear">
								<div>
									<span>放款率</span>
									<h4 v-cloak>{{topDayData.zPassRate}}%</h4>
									<span>系统通过率</span>
									<h4 v-cloak>{{topDayData.riskRate}}%</h4>
									<span>进件用户数</span>
									<h4 v-cloak>{{topDayData.totalPieceCount}}</h4>
								</div>
								<div>
									<span>交易件数</span>
									<h4  v-cloak>{{topDayData.loanCount}}</h4>
									<span>电核通过率</span>
									<h4  v-cloak>{{topDayData.telCheckRate}}%</h4>
									<span>新增用户数</span>
									<h4  v-cloak>{{topDayData.totalNewQuantity}}</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="monthAmount" >
						<!--进度条-->
			          	<div class="mui-content ph-progress-data">
							<ul class="mui-table-view mui-grid-view paddBotFive">
								<li class="mui-table-view-cell mui-col-xs-12 ph-progress-wrapper paddTopSix" id="progress2">
									<div class="ph-progress-text mui-clearfix mui-grid-view">
										<h5 class="ph-progress-timePercent mui-pull-left ">时间进度:<span>-</span></h5>
										<h5 class="ph-progress-donePercent mui-pull-left mui-col-xs-3.5 ">KPI完成率:<span>-</span></h5>
										<!--<h5 class="ph-progress-donePercent mui-pull-left mjje "><span id="sumMoney"></span>&nbsp;<span>(万元)</span></h5>-->
									</div>
									<div class="ph-progress">
										<div class="ph-progress-total mui-pull-left"></div>
										<div class="ph-progress-plan"></div>
										<div class="ph-progress-actual"></div>
									</div>
									<div class="ph-progress-legend">
										<!--<lable class="ph-progress-plan ">时间进度</lable>
										<lable class="ph-progress-total ">KPI</lable>-->
									</div>
								</li>
							</ul>
						</div>
						
						<!--数值部分-->
						<div id="topMonth">
							<div class="progressData">
								<div class="realCom">
									<span>实际进度(万元)</span>
									<h4 class="real" v-cloak>
										<span class="big">{{comBig}}</span><small>{{comSmall}}</small>
									</h4>
								</div>
								<div class="totleCom">
									<span>KPI(万元)</span>
									<h4 v-cloak>
										<span class="big">{{kpiBig}}</span><small>{{kpiSmall}}</small>
									</h4>
								</div>
							</div>
							<div class="dataDetail" id="dataDetail">
								<div class="horiBlock clear">
									<div>
										<span>放款率</span>
										<h4 v-cloak>{{topMonthData.zPassRate}}%</h4>
										<span>系统通过率累计</span>
										<h4 v-cloak>{{topMonthData.riskRate}}%</h4>
										<span>进件用户数累计</span>
										<h4 v-cloak>{{topMonthData.totalPieceCount}}</h4>
									</div>
									<div>
										<span>交易件数累计</span>
										<h4  v-cloak>{{topMonthData.monthLoanCount}}</h4>
										<span>电核通过率累计</span>
										<h4  v-cloak>{{topMonthData.telCheckRate}}%</h4>
										<span>新增用户累计</span>
										<h4  v-cloak>{{topMonthData.totalNewQuantity}}</h4>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<!--图表区域-->
			<!--第二块选项卡-->
			<div class="common-tabBlock secondCont">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted tableTitle">
				    <div class="mui-scroll">
				        <a class="mui-control-item mui-active active">
				           	 日完成金额
				        </a>
				        <a class="mui-control-item ">
							月累计金额
				        </a>
				    </div>
				</div>
				
				<div class="tabBlockDetail">
					<div class="show">
						<div class="echartDetail" id="tzzl"></div>
					</div>
					<div class="">
						<div class="echartDetail" id="stzb"></div>
					</div>
				</div>
			</div>
			<!--第三块-->
			<div class="common-tabBlock thirdCont">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted tableTitle">
				    <div class="mui-scroll">
				        <a class="mui-control-item  mui-active active">
				           	系统通过率
				        </a>
				        <a class="mui-control-item ">
							电核通过率
				        </a>
				        <a class="mui-control-item  ">
							放款率
				        </a>
				    </div>
				</div>
				
				<div class="tabBlockDetail">
					<div class="show">
						<div class="echartDetail" id="yhgm"></div>
					</div>
					<div>
						<div class="echartDetail" id="xzyh"></div>
					</div>
					<div>
						<div class="echartDetail" id="txzb"></div>
					</div>
				</div>
			</div>
			
			<!--第五块-->
			<div class="common-tabBlock fifthCont">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted tableTitle">
				    <div class="mui-scroll">
				        <a class="mui-control-item  mui-active active">
				           	用户规模
				        </a>
				    </div>
				</div>
				
				<div class="tabBlockDetail">
					<div class="show">
						<div class="echartDetail" id="mjyhgm"></div>
					</div>
				</div>
			</div>
			
			<!--第四块-->
			<div class="common-tabBlock fourthCont ">
				<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted tableTitle">
				    <div class="mui-scroll">
				        <a class="mui-control-item  mui-active active">
				           	地域分布-进件
				        </a>
				        <a class="mui-control-item ">
							地域分布-交易
				        </a>
				    </div>
				</div>
				
				<div class="tabBlockDetail">
					<div class="show">
						<div class="echartDetail" id="dytzje"></div>
						<div class="cityListM" id="cityListM">
							<div>
								<h5><span>TOP5</span></h5>
								<ul>
									<li v-for="(items,index) in top"><span>{{items.name}}：</span><span>{{items.value}}</span></li>
								</ul>
							</div>
							<div>
								<h5><span>倒数TOP5</span></h5>
								<ul>
									<li v-for="(items,index) in dTop"><span>{{items.name}}：</span><span>{{items.value}}</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div>
						<div class="echartDetail" id="dytzrs"></div>
						<div class="cityListP" id="cityListP">
							<div>
								<h5><span>TOP5</span></h5>
								<ul>
									<li v-for="(items,index) in top"><span>{{items.name}}：</span><span>{{items.value}}</span></li>
								</ul>
							</div>
							<div>
								<h5><span>倒数TOP5</span></h5>
								<ul>
									<li v-for="(items,index) in dTop"><span>{{items.name}}：</span><span>{{items.value}}</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<script src="../../js/common/mui.min.js"></script>
		<script src="../../js/common/jquery2.0.js"></script>
		<script src="../../js/common/vue.js"></script>
		<script src="../../js/common/echarts.min.js"></script>
		<!--如果页面中有维度选择下拉框则需引入下面这个script链接-->
		<!--<script src="../../js/common/mui.picker.all.js"></script>-->
		<script src="../../js/common/ceshiAjax.js"></script>
		<script src="../../js/common/china.js"></script>
		<script src="../../js/common/util.js"></script>
		<script src="../../js/common/progress.js"></script>
		<script src="../../js/common/newCalendar.js"></script>
		<script src="../../js/mine/mj-ywgl.js"></script>

	</body>

</html>